$primary-color: #d53235;
$primary-color__hover: #bf2224;
$font-color: #fff;
$background-color__light: #2d2d2d;
$background-color: #1f1f1f;
$background-color__dark: #111111;
$background-color__login: #181a1b;
$background-color__login-input-hovered: #1e2122;
$icon-color: #ababab;
$icon-color__selected: #fff;
$border-color__dark: rgba(51, 51, 51, .25);
$icon-color__valid: #39ccb1;