.chat {
  .chat-header {
    a {
      display: flex;
      column-gap: 20px;
      border-bottom: 2px solid $background-color__light;

      img {
        height: 70px;
        border-radius: 50%;
        border: 2px solid transparent;
        outline: 2px solid #fff;
      }
    }

  }

  .chat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;

    .message-wrapper {
      display: flex;
      flex-direction: column-reverse;
      flex: 1;
      row-gap: 10px;
      overflow-y: scroll;
      height: 50vh;
      max-height: 50vh;
      min-height: 50vh;

      .message {
        display: flex;


        &.sent {
          justify-content: right;

          span {
            background-color: $primary-color;
            border-radius: 15px;

          }
        }

        &.received {
          justify-content: left;

          span {
            background-color: $background-color__light;
            border-radius: 15px;

          }
        }

        span {
          width: fit-content;
          padding: 10px;
          display: block;
        }
      }


    }

    form {
      display: flex;
      width: 100%;

      textarea {
        flex: 1;
        background-color: $background-color__light;
        color: $font-color;
        border: none;
        padding: 10px;
        font-family: $font-family__normal;
      }

      button {
        height: 100%;
        aspect-ratio: 1;
        background-color: $primary_color;
        border: none;

        svg {
          path {
            fill: $font-color;
          }
        }

        &:hover {
          background-color: $primary-color__hover;
        }
      }
    }

  }


}

.chat-list {
  display: flex;
  flex-direction: column;


  div {
    background-color: $background-color__light;
    padding: 10px;
    border-radius: 15px;
    display: flex;

    a {
      display: flex;
      column-gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      img {
        height: 70px;
        border-radius: 50%;
        border: 2px solid transparent;
        outline: 2px solid #fff;
      }
    }
  }
}